.button{
  cursor: pointer;
  min-height: 48px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 900;
  background-color: transparent;
  border-radius: var(--radii);

  &.dark {
    color: var(--font);
    border: 1px solid currentColor;
    background-color: var(--bgDark);
    min-width: 138px;
  }

  &.light {
    color: #000;
    border: transparent;
    background-color: var(--font);
    filter: drop-shadow(0px 3px 5px rgba(57,20,0,0.08));
    min-width: 170px;
  }
}

